&-header {
  padding: 0;
  .spacer {
    margin-left: auto;
  }
  .btn-flat {
    border: none !important;
    border-radius: 10px;
  }
  .ant-avatar {
    margin-top: 7px;
    margin-right: 10px;
    svg {
      margin-top: -5px;
    }
  }
  .user-info {
    margin-right: 25px;
    margin-top: 12px;
  }
}